/* styles the header of the html page */
header {
  height: 400px;
  width: 100%;
  margin-top: 5em;
  background-color: #c7afd6;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* unbold class styles the word to be less bold (the last name) */
.unbold {
  font-weight: 300;
}