/* styles the navigation bar */
nav {
  height: 120px;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 0.5em;
  background-color: #4056A1;
  color: #FFFF;
  display: flex;
  justify-content: space-between;
  align-items: flex-end; 
}

/* logo class styles the logo "tweeter" */
nav .logo {
  font-family: Bungee, sans-serif;
  font-size: 35px;
  margin-left: 1em;
  margin-bottom: 0.5em;
}

/* in-line class styles the compose button with the arrows" */
nav .in-line {
  font-family: "Source Sans Pro", sans-serif;
  margin-right: 1.5em;
  font-size: 20px;
  display: flex;
}

/* bold class bolds the word that is wrapped ("write") */
.bold {
  font-weight: 700;
  margin-right: 0.25em;
}

/* fa-angle-double-down class styles the arrows symbol */
.fa-angle-double-down {
  color: red;
  margin-bottom: 0.5em;
  margin-top: 0.25em;
  margin-right: 1.5em;
  display: flex;
  justify-content: center;
}

/* Tablet breakpoint is maximum width of 1024px */
@media only screen and (max-width: 1024px) {

  nav {
    background-color: #c7afd6;
    background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
  }
}