/* styles the form for new tweet */
form {
  display: flex;
  flex-direction: column;
}

/* styles the textarea (input area) */
textarea {
  border: 0;
  outline: 0;
  border-bottom: 2px solid #545149;
  background-color: #f4f1ec;
}

/* tweeted class includes the submit/tweet button and counter, styles the two elements */
.tweeted {
  margin-top: 0.5em;
  font-family: Bungee, sans-serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* button class styles submit/tweet button */
.button {
  background-color: #4056A1;
  color: #FFFF;
}

/* NEGATIVE class styles the counted when the character count becomes negative */
.NEGATIVE {
  color: red;
}